<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha publicacion:</strong>
  <%= @article.created_at  %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Bajada:</strong>
  <%= @article.drop %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @article.body %>
</p>
<h2>Comentarios</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Autor:</strong>
    <%= comment.author %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= comment.content %>
  </p>
<% end %>

<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :author %><br>
    <%= f.text_field :author, :required => true %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content, :required => true  %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
